doctype html
html
head
     
    style. 
        h1{
            color:red;
            text-align:center;
            text-size:500px;
        }  
        body{
            background-color:#FFE4E1;
        }
    script.
        
            function fun(lin){
                window.open(/lin/,"_blank");
                }
    
       
        

table(style='width:100%', border ='3')
    tbody
        tr
            th Name
            th Img
            th Summary
        
            each item in results
                
                tr
                    td #{item.name} 
                    td #{item.img}
                    td #{item.summary}

