doctype html
html
head
     
    style. 
        h1{
            color:red;
            text-align:center;
            text-size:500px;
        }  
        body{
            background-color:#FFE4E1;
        }
    script.
        
            function fun(lin){
                window.open(/lin/,"_blank");
                }
    
       
        
body
    h1 Retrieving Data From MongoDb Using Node.js And Express.js 
    each item in results
        h4 #{item.name}
        button(type="button", target="_blank",onclick="window.open(' #{item.img}')") #{item.img}
          
        h4 #{item.summary}



